<div class="pop-up-back valign-wrapper"  ng-show="show">
	<div class="pop-up center-align white">
		<i id="closeCart" class="small material-icons blue-text" ng-click="showCart()">highlight_off</i>
		<header><h4 class="black-text">cart items</h4></header>
		<div id="cartItem">
			<div class="row center black-text border-bottom valign-wrapper" ng-repeat="item in cart">
				<div class="col s2">
					<p>item:</p>
					<img class="image-cart" ng-src="{{item.item.imageUrl}}"/>
				</div>
				<p class="col s2" ng-show="item.photo.imageUrl">photo:
					<img class="image-cart" ng-src="{{item.photo.imageUrl}}"/>
				</p>
				<p class="col s2">
					quantity:
					<input id="quantity" class="input-number" type=number ng-model="item.quantity" ng-change="updateItem(item, item.item.id, item.quantity)">
				</p>
				<div class="col s3">
					<p>item total:</p>
					<p>${{item.total}}</p>
				</div>
				<div class="col s1">
					<a href=""><i ng-click="removeItem(item, item.item.id)" class="tiny material-icons">close</i></a>
				</div>
			</div>

			<div class="flex-row">
				<h4 class="black-text">Total cost: ${{total}}</h4>
				<button class="item black-text button" ng-click="checkout()">place order</button>
				<button class="item black-text button" ng-click="backToStore()">continue shopping</button>
			</div>
		</div>
	</div>
</div>
