<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="showCart()">x</button>
				<h3>Your Cart</h3>
			</div>
			<div class="modal-body" ng-repeat="item in cart">
				<form method="post" action='/login' name="login_form">
					<p class>{{item.item.firstName}}\'s {{item.item.pianoBrand}} - {{item.item.pianoKind}} in {{item.item.city}}</p>
					<p><button type="submit" class="btn btn-primary">Sign in</button>

					</p>
				</form>
			</div>
			<div class="modal-footer">
				Purchase Leads:
				<a href="#register" ng-click="goToTheRegisterPageRightNow()" class="btn btn-primary">Checkout</a>
		 </div>
    </div>
  </div>
</div> -->

<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Purchase Leads</h4>
          <div class="row text-right">All leads are $10</div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row" ng-repeat="item in cart">
            <div class="col-xs-10 col-sm-8">{{item.item.firstName}}\'s {{item.item.pianoBrand}} - {{item.item.pianoKind}} in {{item.item.city}}</div>
            <button type="button" ng-click="removeItem(item, item.item.id)" class="close col-xs-2 col-sm-4" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="backToStore()" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click="checkout()" class="btn btn-primary">Checkout</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- <div class="pop-up-back valign-wrapper"  ng-show="show">
	<div class="pop-up center-align white">
		<i id="closeCart" class="small material-icons blue-text" ng-click="showCart()">highlight_off</i>
		<header><h4 class="black-text">cart items</h4></header>
		<div id="cartItem">
			<div class="row center black-text border-bottom valign-wrapper" ng-repeat="item in cart">
				<div class="col s2">
					<p>item:</p>
					<img class="image-cart" ng-src="{{item.item.imageUrl}}"/>
				</div>
				<p class="col s2" ng-show="item.photo.imageUrl">photo:
					<img class="image-cart" ng-src="{{item.photo.imageUrl}}"/>
				</p>
				<p class="col s2">
					quantity:
					<input id="quantity" class="input-number" type=number ng-model="item.quantity" ng-change="updateItem(item, item.item.id, item.quantity)">
				</p>
				<div class="col s3">
					<p>item total:</p>
					<p>${{item.total}}</p>
				</div>
				<div class="col s1">
					<a href=""><i ng-click="removeItem(item, item.item.id)" class="tiny material-icons">close</i></a>
				</div>
			</div>

			<div class="flex-row">
				<h4 class="black-text">Total cost: ${{total}}</h4>
				<button class="item black-text button" ng-click="checkout()">place order</button>
				<button class="item black-text button" ng-click="backToStore()">continue shopping</button>
			</div>
		</div>
	</div>
</div> -->
