<div class="container">
<div class="brand">Tune My Piano</div>
<div class="address-bar">Pairing your Piano with the perfect Technician</div>
</div> <!-- /.container -->

<!-- NAVIGATION -->
<nav class="navbar navbar-default myNavBarContainer" role="navigation">
<!-- 		Brand and toggle are grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">Tune My Piano</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="#intro">Home</a></li>
				<li><a href="#contact">Contact Us</a></li>
			</ul>
		</div> <!-- /.navbar-collapse -->
</nav>


<div class="container">
      <div class="row">
        <div class="box">
          <div class="col-lg-12">
              <hr>
              <h2 class="intro-text text-center">Request a
                  <strong>Piano Technician</strong>
              </h2>
              <hr>
							<p class="text-center">
                  Filling out this form will generate an email notification to technicians in your area that have indicated they are interested in, and capable of, doing the work that you are requesting.
              </p>
							<p class="text-center">
									Once the form is filled out you can then expect a qualified technician to contact you within 24 business hours.
							</p>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="box">
              <div class="col-lg-12">
                  <form role="form">
	                  <hr>
	                  <h2 class="intro-text text-center">
	                      <strong>Your Contact Information</strong>
	                  </h2>
	                  <hr>
	                  <p>First, some information about you...</p>
                      <div class="row">
                          <div class="form-group col-lg-6">
                              <label>First Name</label>
                              <input type="text" class="form-control" ng-model="newLead.firstName">
                          </div>
													<div class="form-group col-lg-6">
                              <label>Last Name</label>
                              <input type="text" class="form-control" ng-model="newLead.lastName">
                          </div>
													<div class="clearfix"></div>
													<div class="form-group col-lg-4">
															<label>Address</label>
															<input type="text" class="form-control" ng-model="newLead.address">
													</div>
													<div class="form-group col-lg-2">
															<label>City</label>
															<input type="text" class="form-control" ng-model="newLead.city">
													</div>
													<div class="form-group col-lg-2">
															<label>County</label>
															<select class="form-control" ng-model="newLead.county">
																<option value="" disabled selected>Select</option>
																<option>Box Elder</option>
																<option>Cache</option>
																<option>Davis</option>
																<option>Juab</option>
																<option>Morgan</option>
																<option>Salt Lake</option>
																<option>Tooele</option>
																<option>Utah</option>
																<option>Weber</option>
																<option>Other</option>
															</select>
													</div>
													<div class="form-group col-lg-2">
															<label>State</label>
															<input type="text" class="form-control" ng-model="newLead.state">
													</div>
													<div class="form-group col-lg-2">
															<label>Zip</label>
															<input type="text" class="form-control" ng-model="newLead.zip">
													</div>
													<div class="clearfix"></div>
													<div class="form-group col-lg-6">
                              <label>Phone Number</label>
                              <input type="tel" class="form-control" ng-model="newLead.phone">
                          </div>
                          <div class="form-group col-lg-6">
                              <label>Email Address</label>
                              <input type="email" class="form-control" ng-model="newLead.email">
                          </div>
                          <div class="clearfix"></div>
													<hr>
				                  <h2 class="intro-text text-center">
				                      <strong>Your Piano's Information</strong>
				                  </h2>
				                  <hr>
				                  <p>Now, about your piano...</p>
													<div class="form-group col-lg-6">
                              <label>What Kind of Piano is it?</label>
                              <select class="form-control" ng-model="newLead.pianoKind">
																<option value="" disabled selected>Select your option</option>
																<option>Grand</option>
																<option>Console</option>
																<option>Spinet</option>
																<option>Old Upright</option>
															</select>
                          </div>
													<div class="form-group col-lg-6">
															<label>What Brand of Piano is it?</label>
															<input type="text" class="form-control" ng-model="newLead.pianoBrand" placeholder="Type the brand here">
													</div>
													<div class="form-group col-lg-6">
															<label>How old is your piano?</label>
															<select class="form-control" ng-model="newLead.pianoAge" placeholder="Piano's Age">
																<option value="" disabled selected>Select your option</option>
																<option>0-15 yrs</option>
																<option>15-30 yrs</option>
																<option>30-50 yrs</option>
																<option>50-75 yrs</option>
																<option>75+ yrs</option>
															</select>
													</div>
													<div class="form-group col-lg-6">
															<label>When was your piano last serviced?</label>
															<select class="form-control" ng-model="newLead.lastTuned" placeholder="Last Serviced">
																<option value="" disabled selected>Select your option</option>
																<option>0-1 yrs</option>
																<option>1-2 yrs</option>
																<option>3-5 yrs</option>
																<option>5-10 yrs</option>
																<option>10+ yrs</option>
															</select>
													</div>
													<div class="form-group col-lg-12 text-center">
															<label>What kind of services would you like performed?</label>
													</div>
													<div class="clearfix"></div>
													<!-- <label class="checkbox-inline"><input type="checkbox" value="">Option 1</label> -->
													<div class="form-group col-lg-3">
															<label class="checkbox-inline">
																<input type="checkbox" class="" ng-model="newLead.tuning">Tuning
															</label>
													</div>
													<div class="form-group col-lg-3">
															<label class="checkbox-inline">
																<input type="checkbox" class="" ng-model="newLead.pitchRaise">Pitch Raise
															</label>
													</div>
													<div class="form-group col-lg-3">
															<label class="checkbox-inline">
																<input type="checkbox" class="" ng-model="newLead.repairs">Repairs
															</label>
													</div>
													<div class="form-group col-lg-3">
															<label class="checkbox-inline">
																<input type="checkbox" class="" ng-model="newLead.internalCleaning">Internal Cleaning
															</label>
													</div>
													<div class="form-group col-lg-3">
														<label class="checkbox-inline">
															<input type="checkbox" class="" ng-model="newLead.regulation">Regulation
														</label>
													</div>
													<div class="form-group col-lg-3">
														<label class="checkbox-inline">
															<input type="checkbox" class="" ng-model="newLead.purchaseConsult">Purchase Consult
														</label>
													</div>
													<div class="form-group col-lg-3">
														<label class="checkbox-inline">
															<input type="checkbox" class="" ng-model="newLead.estimate">Estimate
														</label>
													</div>
													<div class="form-group col-lg-3">
														<label class="checkbox-inline">
															<input type="checkbox" class="" ng-model="newLead.appraisal">Appraisal
														</label>
													</div>
													<div class="clearfix"></div>
													<div class="form-group col-lg-12 text-center">
															<label ng-click="toggle()"><u>Click here for a descripton of the services</u></label>
															<services-description services-description="isVisible"></services-description>
													</div>
													<div class="clearfix"></div>
                          <div class="form-group col-lg-12">
                              <label>Message</label>
                              <textarea class="form-control" rows="6" ng-model="newLead.message" placeholder="Indicate any questions, specific repair requests, best time to contact, etc."></textarea>
                          </div>
                          <div class="form-group col-lg-12 text-center">
                              <input type="hidden" name="save" value="contact">
                              <button type="submit" class="btn btn-default" ng-click="createLead(newLead); sendLeadConfirmEmail(newLead)">Submit Request</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
       </div>
   </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; UtahPianoTuning.com 2015</p>
            </div>
        </div>
    </div>
</footer>
